@page
@model DadsCollections.RazorPages.Pages.CartModel
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>

    <h3>Cart</h3>

    @if(@Model.cart is null)
    {
        <p> There is no item in the cart. </p> <a asp-page="/Products/DisplayAll" >Continue Shopping</a> 
    }

    else
    {
    <form method="post" asp-page="cart" asp-page-handler="update">
        <table border="1">
            <tr>
                <th>Action</th>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity <input type="submit" value="Update" /></th>
                <th>Sub Total</th>
            </tr>
            @foreach (var item in Model.cart)
            {
                <tr align="center">
                    <td align="center">
                        <a asp-page="cart" asp-page-handler="delete" asp-route-id="@item.Product.Id">X</a>
                    </td>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Title</td>
                    <td><img src="~/images/@item.Product.ImgName" width="120" height="100" /></td>
                    <td>$@item.Product.Price</td>
                    <td><input type="number" name="quantities" value="@item.Quantity" min="1" style="width: 50px;" /></td>
                    <td>
                        $@(item.Product.Price * item.Quantity)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6" align="right">Total</td>
                <td align="center">$@Model.Total</td>
            </tr>
        </table>
    </form>
    <p> @HttpContext.Session.Id</p>
    <a asp-page="/Products/DisplayAll" >Continue Shopping</a> 
    <a asp-page="/Checkout" class="btn btn-primary">Check out</a>
    }

</body>
</html>