@page
@model DadsCollections.RazorPages.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<div class="container">
    <div class="row">  
        @foreach (var product in Model.products)
        {
            var filePath = "/images/";
            if (product.ProductTypeId == 1)
            {
                filePath = filePath + "Ceramics/" + @product.ImgName;
                <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="@filePath" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Description</p>
                  </div>
                </div> 
            </div> 
            }

            if (product.ProductTypeId == 2)
            {
                filePath = filePath + "Jewelries/" + @product.ImgName;
                <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="@filePath" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Description</p>
                  </div>
                </div> 
            </div> 
            }

            if (product.ProductTypeId == 3)
            {
                filePath = filePath + "Watches/" + @product.ImgName;
                <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="@filePath" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Description</p>
                  </div>
                </div> 
            </div> 
            }

            if (product.ProductTypeId == 4)
            {
                filePath = filePath + "Other Antiques/" + @product.ImgName;
                <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="@filePath" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Description</p>
                  </div>
                </div> 
            </div> 
            }

           }
        }
    </div>
</div>